/*                    _____                                  
_____________________  /_                                 
__  ___/  __ \  __ \  __/                                 
_  /   / /_/ / /_/ / /_                                   
/_/    \____/\____/\__/                                   
                                                          
                     _____       ______ ______            
___   _______ __________(_)_____ ___  /____  /____________
__ | / /  __ `/_  ___/_  /_  __ `/_  __ \_  /_  _ \_  ___/
__ |/ // /_/ /_  /   _  / / /_/ /_  /_/ /  / /  __/(__  ) 
_____/ \__,_/ /_/    /_/  \__,_/ /_.___//_/  \___//____/   */
:root {

}





*, *::before, *::after {box-sizing: border-box;}

html, body {
  height: 100%;
  margin: 0;
}



body {
  background-color: #0f1115;
  padding: 16px;
}



/* 
          __         _______   _______  
     /""\       |   __ "\ |   __ "\ 
    /    \      (. |__) :)(. |__) :)
   /' /\  \     |:  ____/ |:  ____/ 
  //  __'  \    (|  /     (|  /     
 /   /  \\  \  /|__/ \   /|__/ \    
(___/    \___)(_______) (_______)   
*/
.app {
  min-height: calc(100vh - 48px);
  background-color: aqua;
}







/*
  _   _ _   _ _ _ _            ____ _                         
| | | | |_(_) (_) |_ _   _   / ___| | __ _ ___ ___  ___  ___ 
| | | | __| | | | __| | | | | |   | |/ _` / __/ __|/ _ \/ __|
| |_| | |_| | | | |_| |_| | | |___| | (_| \__ \__ \  __/\__ \
 \___/ \__|_|_|_|\__|\__, |  \____|_|\__,_|___/___/\___||___/
                     |___/                                    
*/
.text-sm { font-size: small;}
.text-md { font-size: medium;}
.text-lg { font-size: large;}
.text-xl { font-size: x-large;}
.text-xxl { font-size: xx-large;}







